<head>
  <title>LiveQ</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
</body>

<template name="layout">
  {{> navbar}}
  <div class="container">
    {{#unless namePrompt}}
      <div class="alert alert-warning text-center">
        <strong>Name not set!</strong>
        You must set a name before you can ask or answer a question.
        Click <a class="alert-link" href="/name">here</a> to set your name
      </div>
    {{/unless}}
    
    {{#if error}}
      <div class="alert alert-danger text-center">
        <button type="button" class="close" id="closeError" aria-hidden="true">&times;</button>
        {{error}}
      </div>
    {{/if}}
    
    {{yield}}
  </div>
</template>

<template name="navbar">
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle grouped for better mobile display -->
      <div class="navbar-header">
        <!-- Collapse Button -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"/>
          <span class="icon-bar"/>
          <span class="icon-bar"/>
        </button>
        
        <a class="navbar-brand" href="/">LiveQ</a>
      </div>
      
      <!-- Collapsable content -->
      <div id="navbar-collapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/new">Create a Q</a></li>
          <!-- Login -->
          {{loginButtons align="left"}}
        </ul>
      </div>
    </div>
  </nav>
</template>