<template name="name">
  <div class="well">
    <div class="input-group">
      <input id="name" type="text" class="form-control" placeholder="Enter a name" value="{{username}}" autofocus/>
      <span class="input-group-btn">
        <button id="updateName" type="button" class="btn btn-primary">Update Name!</button>
      </span>
    </div>
  </div>
</template>