<template name="new">
  <div class="well">
    <h1>Create a new question!</h1>
    <div class="input-group">
      <span class="input-group-addon">Question text:</span>
      <label for="newQText" class="sr-only">New Question:</label>
      <input id="newQText" type="text" class="form-control" placeholder="Enter your question" autofocus/>
    </div>
    
    <br/>
    
    <div class="input-group">
      <span class="input-group-addon">New Question ID:</span>
      <label for="newQID" class="sr-only">New Question ID:</label>
      <input id="newQID" type="text" class="form-control" placeholder="Enter an ID for the question (leave blank for randomly generated)"/>
    </div>
    
    <br/>
    
    <button id="createQ" class="btn btn-lg btn-primary">Create!</button>
  </div>
</template>