<template name="question">
  <div class="well">
    {{#unless editing}}
      <h2>
        {{text}}
        {{#if isOwner}}
          <div class="btn-group">
            <button id="edit" class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-edit"/> Edit
            </button>
            <button id="delete" class="btn btn-danger" type="button">
              <span class="glyphicon glyphicon-remove-circle"/> Clear answers
            </button>
        </div>
        {{/if}}}
      </h2>
    
      <br/>
      
      <div class="input-group">
        <span class="input-group-addon">Answer:</span>
        <label for="answer" class="sr-only">Answer:</label>
        <input id="answer" type="text" class="form-control" placeholder="Enter your answer" autofocus/>
        <span class="input-group-btn">
          <button id="answerBtn" class="btn btn-primary">Submit!</button>
        </span>
      </div>
    {{else}}
      <div class="input-group">
        <span class="input-group-addon">Quesion:</span>
        <label for="QText" class="sr-only">Quesion:</label>
        <input id="QText" type="text" class="form-control" placeholder="Enter your question" value="{{text}}"/>
        <span class="input-group-btn">
          <button id="updateQuestion" class="btn btn-success">Update</button>
          <button id="edit" class="btn btn-danger">Cancel</button>
        </span>
      </div>
    {{/unless}}
    
    <br/>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Answers:</h3>
      </div>
      <ul class="list-group">
        {{#each answers}}
          <li class="list-group-item">
            {{text}}
            <div class="tooltips label label-default" data-toggle="tooltip" data-placement="right" title="" data-original-title="{{tooltipContent}}">
              {{getOwner}}
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</template>